USE [master]
GO
/****** Object:  Database [OnlineShop]    Script Date: 16/11/2023 19:30:02 ******/
CREATE DATABASE [OnlineShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineShop', FILENAME = N'D:\Programas\SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\OnlineShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineShop_log', FILENAME = N'D:\Programas\SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\OnlineShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineShop]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 16/11/2023 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[serial] [varchar](50) NULL,
	[price] [decimal](10, 2) NULL,
	[category] [varchar](50) NULL,
	[manufacturer] [varchar](50) NULL,
	[model] [varchar](100) NULL,
	[color] [varchar](50) NULL,
	[photo] [varchar](255) NULL,
	[stock] [int] NULL,
	[details] [varchar](255) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/11/2023 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Email] [varchar](50) NULL,
	[User_PW] [varchar](50) NULL,
	[User_FirstName] [varchar](50) NULL,
	[User_LastName] [varchar](50) NULL,
	[User_Address] [varchar](100) NULL,
	[User_PostalCode] [varchar](50) NULL,
	[User_Region] [varchar](50) NULL,
	[User_active] [bit] NULL,
	[User_Type] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [serial], [price], [category], [manufacturer], [model], [color], [photo], [stock], [details]) VALUES (1, N'7C56-002R', CAST(135.00 AS Decimal(10, 2)), N'Motherboards', N'MSI', N'ATX B550-A PRO AM4', N'Silver', N'https://static.pcdiga.com/media/catalog/product/cache/4a9972e1440204cef7cf19ceb7c4fc35/s/e/sem-ti_tulo-122_s.jpg', 10, N'https://www.msi.com/Motherboard/B550-A-PRO')
INSERT [dbo].[Products] ([id], [serial], [price], [category], [manufacturer], [model], [color], [photo], [stock], [details]) VALUES (2, N'ACFRE00101A', CAST(125.00 AS Decimal(10, 2)), N'Coolers', N'ARCTIC', N'Liquid Freezer II 360 A-RGB', N'Black', N'https://cdna.pcpartpicker.com/static/forever/images/product/7fb1d50312d580bf83856c7aab42bef1.256p.jpg', 8, N'https://www.arctic.de/en/Liquid-Freezer-II-360-A-RGB/ACFRE00101A')
INSERT [dbo].[Products] ([id], [serial], [price], [category], [manufacturer], [model], [color], [photo], [stock], [details]) VALUES (3, N'100-100000065BOX', CAST(170.00 AS Decimal(10, 2)), N'Processors', N'AMD', N'Ryzen 5 5600X 3.7 GHz AM4', N'None', N'https://cdna.pcpartpicker.com/static/forever/images/product/3ef757133d38ac40afe75da691ba7d60.1600.jpg', 13, N'https://www.amd.com/pt/products/cpu/amd-ryzen-5-5600x')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [User_Email], [User_PW], [User_FirstName], [User_LastName], [User_Address], [User_PostalCode], [User_Region], [User_active], [User_Type]) VALUES (4, N'admin@email.com', N'mG9S7zDsPbw=', N'Admin', N'Administrator', N'Rua xpto', N'1234-123', N'Setúbal', 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  StoredProcedure [dbo].[accountActivation]    Script Date: 16/11/2023 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[accountActivation]
	-- Add the parameters for the stored procedure here
	@email as varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Users set User_active = 'true' where User_Email = @email
END
GO
/****** Object:  StoredProcedure [dbo].[changePW]    Script Date: 16/11/2023 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[changePW]
	-- Add the parameters for the stored procedure here
	@newPW as varchar(50),
	@email as varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Users set User_PW = @newPW where User_Email = @email
END
GO
/****** Object:  StoredProcedure [dbo].[emailToChangePW]    Script Date: 16/11/2023 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[emailToChangePW] 
	-- Add the parameters for the stored procedure here
	@email as varchar(50),
	@return int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if exists(select * from Users where User_Email = @email)
		begin
			set @return = 1
		end
	else
		begin
			set @return = 0
		end
END
GO
/****** Object:  StoredProcedure [dbo].[login]    Script Date: 16/11/2023 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[login] 
	-- Add the parameters for the stored procedure here
	@email as varchar(50),
	@password as varchar(50),
	@return int output,
	@accType int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if exists (select * from Users where User_Email = @email and User_PW = @password and User_active = 'true')
		begin
			set @return = 1
			set @accType = (select User_type from Users where User_Email = @email)
		end
	else if exists (select * from Users where User_Email = @email and User_PW = @password and User_active = 'false')
		begin
			set @return = 2
			set @accType = 2
		end
	else
		begin
			set @return = 0
			set @accType = 2
		end
END
GO
/****** Object:  StoredProcedure [dbo].[newUser]    Script Date: 16/11/2023 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[newUser]
	-- Add the parameters for the stored procedure here
	@email as varchar(50),
	@password as varchar(50),
	@firstName as varchar(50),
	@lastName as varchar(50),
	@address as varchar(100),
	@postalCode as varchar(50),
	@region as varchar(50),
	@return int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if not exists (select * from Users where @email = User_Email)
		begin
			insert into Users values (@email, @password, @firstName, @lastName, @address, @postalCode, @region, 'false', 0)
			set @return = 1
		end
	else
		begin
			set @return = 0
		end
END
GO
USE [master]
GO
