.container {
    color: aliceblue;
    text-align: center;
    margin-top: 5%;
}

.members {
    padding-top: 25px;
}

body a{
    color: black;
}

@media (max-width: 991px) {
    .nav-item {
        margin-left: 3%;
        font-weight: bold;
        font-size: 1.1em;
    }

    #navbarNav h1 {
        display: inline;
        margin-top: 3%;
        font-weight: bold;
        color: white;
    }
}