.container {
  color: white;
}

body a{
  color: white;
}

@media (max-width: 991px) {
  .nav-item {
    margin-left: 3%;
    font-weight: bold;
    font-size: 1.1em;
  }

  #navbarNav h1 {
    display: inline;
    margin-top: 3%;
    font-weight: bold;
    color: white;
  }
}